version: 2.1
orbs:
  slack: circleci/slack@4.1.1

executors:
  build-executor:
    docker:
      - image: cimg/node:12.20.1

jobs:
  build:
    executor: build-executor
    environment:
      CI: "false"
    steps:
      - checkout
      - run:
          name: Build
          command: |
            mkdir -p /tmp/artifacts
            yarn
            yarn build
            zip -r build.zip build
            mv build.zip /tmp/artifacts/build.zip
      - run:
          name: Create release
          command: |
            wget https://github.com/tcnksm/ghr/releases/download/v0.13.0/ghr_v0.13.0_linux_amd64.tar.gz
            tar xzf ghr_v0.13.0_linux_amd64.tar.gz
            ./ghr_v0.13.0_linux_amd64/ghr \
              -t $GITHUB_TOKEN \
              -u $CIRCLE_PROJECT_USERNAME \
              -r $CIRCLE_PROJECT_REPONAME \
              -n $(echo $CIRCLE_SHA1 | cut -c -7) \
              -b "$(git log --format=oneline -n 1 $CIRCLE_SHA1)" \
              -c $CIRCLE_SHA1 \
              $(echo $CIRCLE_SHA1 | cut -c -7) /tmp/artifacts/build.zip
workflows:
  version: 2
  create_github_release:
    jobs:
      - build:
          context: Incognito
          filters:
            branches:
              only:
                - feature/github-release
